"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f2a25c31-484c-40b8-9834-6864295e7074"
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    disabledPackages: [
      "floobits"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "10b4654b-9d95-3bda-8c23-ae15a941e8a3"
  minimap:
    adjustAbsoluteModeHeight: true
  "tree-view": {}
  welcome:
    showOnStartup: false
